@import url(./normalize.css);

body {
  background: linear-gradient(#ccc, #fff) no-repeat;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.header {
  background-color: #ffc;
}
.visual {
  background-color: lightblue;
}
.main {
  background-color: lightpink;
}
.slogan {
  background-color: lightgreen;
}
.footer {
  background-color: salmon;
}