@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 본문 스타일 */
body {
  background: linear-gradient(#ccc, #fff) no-repeat;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  padding: 0 30px;
  min-height: 10vh;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

.member {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: blueviolet;
}

/* .member li::before {
  content: '\e800';
  font-family: 'fontello';
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}

.member li:first-child::before {
  content: '';
} */

/* 비주얼 */
.visual {
  background-color: lightblue;
  min-height: 15vh;
}

/* 메인영역 */
.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
  background-color: lightpink;
  border-radius: 20px;
  min-height: 50vh;
}

.group1 {
  width: 250px;
  background-color: antiquewhite;
}

.group2 {
  width: 380px;
  background-color: sandybrown;
}

.group3 {
  width: 190px;
  background-color: cornflowerblue;
}

/* 슬로건 */
.slogan {
  background-color: lightgreen;
  min-height: 10vh;
}

/* 푸터 */
.footer {
  background-color: salmon;
}
.footer .footer-inner {
  min-height: 15vh;
  background-color: tomato;
}